USE [QLBANHANG]
GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 11/15/2023 9:14:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[SOHD] [nvarchar](10) NOT NULL,
	[MAHANG] [nvarchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_CTHOADON] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC,
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 11/15/2023 9:14:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[MAHANG] [nvarchar](10) NOT NULL,
	[TENHANG] [nvarchar](50) NULL,
	[NGAYSX] [date] NULL,
	[DONGIA] [float] NULL,
 CONSTRAINT [PK_HANGHOA] PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 11/15/2023 9:14:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [nvarchar](10) NOT NULL,
	[KHACHHANG] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[DIENTHOAI] [nvarchar](11) NULL,
	[NGAYHD] [date] NULL,
	[MANV] [nvarchar](10) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/15/2023 9:14:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[PHAI] [bit] NULL,
	[NGAYSINH] [date] NULL,
	[HSLUONG] [float] NULL,
	[HSCHUCVU] [float] NULL,
	[MAPHONG] [nvarchar](10) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 11/15/2023 9:14:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MAPHONG] [nvarchar](10) NOT NULL,
	[TENPHONG] [nvarchar](50) NULL,
	[DIENTHOAI] [nvarchar](11) NULL,
 CONSTRAINT [PK_PHONGBAN] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 11/15/2023 9:14:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[ID_USER] [int] NOT NULL,
	[TENTK] [nvarchar](50) NULL,
	[MATKHAU] [nvarchar](255) NULL,
	[QUYEN] [nvarchar](50) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTHOADON] ([SOHD], [MAHANG], [SOLUONG]) VALUES (N'HD001', N'AT0011', 10)
INSERT [dbo].[CTHOADON] ([SOHD], [MAHANG], [SOLUONG]) VALUES (N'HD001', N'FN0099', 5)
INSERT [dbo].[CTHOADON] ([SOHD], [MAHANG], [SOLUONG]) VALUES (N'HD001', N'LG1122', 10)
GO
INSERT [dbo].[HANGHOA] ([MAHANG], [TENHANG], [NGAYSX], [DONGIA]) VALUES (N'AM1100', N'Âm ly California', CAST(N'2015-10-10' AS Date), 4000000)
INSERT [dbo].[HANGHOA] ([MAHANG], [TENHANG], [NGAYSX], [DONGIA]) VALUES (N'AT0011', N'Máy nóng lạnh Ariston', CAST(N'2013-10-28' AS Date), 2200000)
INSERT [dbo].[HANGHOA] ([MAHANG], [TENHANG], [NGAYSX], [DONGIA]) VALUES (N'FN0099', N'Máy nóng lạnh Fenoli', CAST(N'2017-10-01' AS Date), 2800000)
GO
INSERT [dbo].[HOADON] ([SOHD], [KHACHHANG], [DIACHI], [DIENTHOAI], [NGAYHD], [MANV]) VALUES (N'HD001', N'Lê Anh Tuấn', N'Phú Yên', N'0986804133', CAST(N'2018-09-12' AS Date), N'NV001')
INSERT [dbo].[HOADON] ([SOHD], [KHACHHANG], [DIACHI], [DIENTHOAI], [NGAYHD], [MANV]) VALUES (N'HD002', N'Bùi Long Thành', N'Nha Trang', N'0980789128', CAST(N'2018-08-27' AS Date), N'NV001')
INSERT [dbo].[HOADON] ([SOHD], [KHACHHANG], [DIACHI], [DIENTHOAI], [NGAYHD], [MANV]) VALUES (N'HD003', N'Nguyễn Thành Trung', N'Phú Yên', N'0987678677', CAST(N'2018-07-23' AS Date), N'NV002')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [PHAI], [NGAYSINH], [HSLUONG], [HSCHUCVU], [MAPHONG]) VALUES (N'NV001', N'Lê Anh Tú ', 1, CAST(N'1985-09-23' AS Date), 3.99, 0.4, N'TCKT')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [PHAI], [NGAYSINH], [HSLUONG], [HSCHUCVU], [MAPHONG]) VALUES (N'NV002', N'Trần Thanh Hoa', 0, CAST(N'1987-02-27' AS Date), 3.99, 0.3, N'QHKH')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [PHAI], [NGAYSINH], [HSLUONG], [HSCHUCVU], [MAPHONG]) VALUES (N'NV003', N'Nguyễn Lan Hương', 1, CAST(N'1977-09-30' AS Date), 2.67, 0, N'TCKT')
GO
INSERT [dbo].[PHONGBAN] ([MAPHONG], [TENPHONG], [DIENTHOAI]) VALUES (N'QHKH', N'Quan hệ khách hàng', N'02573827890')
INSERT [dbo].[PHONGBAN] ([MAPHONG], [TENPHONG], [DIENTHOAI]) VALUES (N'TBKT', N'Phòng thiết bị kỹ thuật', N'02573826641')
INSERT [dbo].[PHONGBAN] ([MAPHONG], [TENPHONG], [DIENTHOAI]) VALUES (N'TCHC', N'Phòng tổ chức hành chính', N'02573825678')
GO
INSERT [dbo].[TAIKHOAN] ([ID_USER], [TENTK], [MATKHAU], [QUYEN]) VALUES (1, N'admin', N'$2a$10$Jvmg9BGIvJgzVPgPCvbSfOMAwltGH0faBfpPMxRQAEoPysm.U65rq', N'admin')
INSERT [dbo].[TAIKHOAN] ([ID_USER], [TENTK], [MATKHAU], [QUYEN]) VALUES (2, N'nhanvien', N'$2a$10$LNbwii9zKYIrOYsoUFYHcuk32SGPc0P7sWMEM8P.HzSY2.FGjQimC', N'nhanvien')
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADON_HANGHOA] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HANGHOA] ([MAHANG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHOADON_HANGHOA]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADON_HOADON] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHOADON_HOADON]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHONGBAN] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONGBAN] ([MAPHONG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_PHONGBAN]
GO
